<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<form action="/scoring" method="post">
		
		<div th:each="question : ${questions}">
    		<span th:text="${question.question}"></span><br/>
    		<div th:each="choice : ${question.choices}">
        		<input type="radio" th:name="${question.question}" th:value="${choice}"/>
        		<span th:text="${choice}"></span><br/>
    		</div>
		</div>

		<input type="submit" value="送信">
	</form>
</body>
</html>