<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>お気に入り</title>
</head>
<body>
	<table>
		<tr>
        	<th>履歴</th>
            <th></th>
        </tr>
        <tr th:each="question : ${questions}">
            <td>
				<form th:action="@{/{testId}(id=${question.testId})}"method="post">
					<input type="hidden" th:name="testId" th:value="${question.testId}">
					<button type="submit" th:text="${question.question}"></button>
				</form>
			</td>
            <td>
        		<form th:action="@{/{testId}/delete(id=${question.testId})}" method="post">
					<input type="hidden" th:name="testId" th:value="${question.testId}">
                    <button type="submit">削除</button>
                </form>
            </td>
		</tr>
	</table>
</body>
</html>
