
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="css/login.css">
</head>

<body>
	<div class="container">
		<div class="login-box">
			<h1>お帰りなさい</h1>
			<form th:action="@{/login}" method="post">
				<div th:if="${param.error}">
					<div class="alert alert-danger">
						<i class="bi bi-exclamation-triangle-fill"></i>
						<span>ログインに失敗しました。正しいメールアドレスとパスワードを入力してください。</span>
					</div>
				</div>
				<div class="input-group">
					<input type="text" id="email" name="username" required>
					<label for="email">Email</label>
				</div>
				<div class="input-group">
					<input type="password" id="password" name="password" required>
					<label for="password">Password</label>
				</div>
				<button type="submit">Log in</button>
			</form>
			<p class="reset-password">
				パスワードをお忘れですか？
				<a th:href="@{/password-reset}" class="link-color">こちらへ</a>
			</p>
			<p class="signup-link">
				アカウントをお持ちではありませんか？
				<a th:href="@{/register}" class="link-color">サインアップ</a>
			</p>
		</div>
	</div>
	</div>
</body>

</html>
