<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワード変更完了</title>
    <link rel="stylesheet" href="css/signup.css"> <!-- signup.cssを使用 -->
</head>

<body>
    <div class="container">
        <div class="password-reset-box">
            <h1>パスワードが変更されました。</h1>
            <p>ログイン画面に戻って新しいパスワードでログインしてください。</p>
            <a href="/login" class="button-link">ログインページへ</a>
        </div>
    </div>
</body>

</html>