
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新規登録</title>
</head>
<body>
    <h1>新規登録</h1>
    <form th:action="@{/register/create}" th:object="${registerForm}" method="post">
        <table align="center">
            <tr>
                <td>メールアドレス：</td>
                <td>
                    <input type="text" th:field="*{email}">
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
                </td>
            </tr>
            <tr>
                <td>パスワード：</td>
                <td>
                    <input type="password" th:field="*{password}">
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
                </td>
            </tr>
            <tr>
                <td align="right" colspan="2">
                    <button type="submit">登録</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
