<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<style>
    	.correct {
			color: green;
            font-weight: bold;
        }
        .incorrect {
            color: red;
            font-weight: bold;
        }
    </style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="/insert" method="post">
		<div th:if="${questions.question1 != null}">
			
			<input type="checkbox" name="questionNumber" value="question1">保存する
        	<input type="hidden" name="questionData" th:value="${questions.question1}">
        	<input type="hidden" name="answerData" th:value="${questions.answer1}">
        	<input type="hidden" name="choicesData" th:value="${questions.choices1}">
        	
        	問題1: <span th:text="${questions.question1}"></span>
        	<div th:each="choice : ${questions.choices1}">
                <span th:classappend="|${choice.equals(questions.answer1) ? 'correct' : ''}${choice.equals(mainForm.answer1) && !choice.equals(questions.answer1) ? 'incorrect' : ''}|"
				th:text="${choice}"></span><br/>
            </div>
            
    	</div>
    	
    	<div th:if="${questions.question2 != null}">
			
			<input type="checkbox" name="questionNumber" value="question2">保存する
        	<input type="hidden" name="questionData" th:value="${questions.question2}">
        	<input type="hidden" name="answerData" th:value="${questions.answer2}">
        	<input type="hidden" name="choicesData" th:value="${questions.choices2}">
        	
        	問題2: <span th:text="${questions.question2}"></span>
        	<div th:each="choice : ${questions.choices2}">
                <span th:classappend="|${choice.equals(questions.answer2) ? 'correct' : ''}${choice.equals(mainForm.answer2) && !choice.equals(questions.answer2) ? 'incorrect' : ''}|"
				th:text="${choice}"></span><br/>
            </div>
            
    	</div>
    
    	<div th:if="${questions.question3 != null}">
			
			<input type="checkbox" name="questionNumber" value="question3">保存する
        	<input type="hidden" name="questionData" th:value="${questions.question3}">
        	<input type="hidden" name="answerData" th:value="${questions.answer3}">
        	<input type="hidden" name="choicesData" th:value="${questions.choices3}">
        	
        	問題3: <span th:text="${questions.question3}"></span>
        	<div th:each="choice : ${questions.choices3}">
                <span th:classappend="|${choice.equals(questions.answer3) ? 'correct' : ''}${choice.equals(mainForm.answer3) && !choice.equals(questions.answer3) ? 'incorrect' : ''}|"
				th:text="${choice}"></span><br/>
            </div>
            
    	</div>
    	
    	<div th:if="${questions.question4 != null}">
			
			<input type="checkbox" name="questionNumber" value="question4">保存する
        	<input type="hidden" name="questionData" th:value="${questions.question4}">
        	<input type="hidden" name="answerData" th:value="${questions.answer4}">
        	<input type="hidden" name="choicesData" th:value="${questions.choices4}">
        	
        	問題4: <span th:text="${questions.question4}"></span>
        	<div th:each="choice : ${questions.choices4}">
                <span th:classappend="|${choice.equals(questions.answer4) ? 'correct' : ''}${choice.equals(mainForm.answer4) && !choice.equals(questions.answer4) ? 'incorrect' : ''}|"
				th:text="${choice}"></span><br/>
            </div>
            
    	</div>
    	
    	<div th:if="${questions.question5 != null}">
			
			<input type="checkbox" name="questionNumber" value="question5">保存する
        	<input type="hidden" name="questionData" th:value="${questions.question5}">
        	<input type="hidden" name="answerData" th:value="${questions.answer5}">
        	<input type="hidden" name="choicesData" th:value="${questions.choices5}">
        	
        	問題5: <span th:text="${questions.question5}"></span>
        	<div th:each="choice : ${questions.choices5}">
                <span th:classappend="|${choice.equals(questions.answer5) ? 'correct' : ''}${choice.equals(mainForm.answer5) && !choice.equals(questions.answer5) ? 'incorrect' : ''}|"
				th:text="${choice}"></span><br/>
            </div>
            
    	</div>
    	
    	<div th:if="${questions.question6 != null}">
			
			<input type="checkbox" name="questionNumber" value="question6">保存する
        	<input type="hidden" name="questionData" th:value="${questions.question6}">
        	<input type="hidden" name="answerData" th:value="${questions.answer6}">
        	<input type="hidden" name="choicesData" th:value="${questions.choices6}">
        	
        	問題6: <span th:text="${questions.question6}"></span>
        	<div th:each="choice : ${questions.choices6}">
                <span th:classappend="|${choice.equals(questions.answer6) ? 'correct' : ''}${choice.equals(mainForm.answer6) && !choice.equals(questions.answer6) ? 'incorrect' : ''}|"
				th:text="${choice}"></span><br/>
            </div>
            
    	</div>
    	
    	<div th:if="${questions.question7 != null}">
			
			<input type="checkbox" name="questionNumber" value="question7">保存する
        	<input type="hidden" name="questionData" th:value="${questions.question7}">
        	<input type="hidden" name="answerData" th:value="${questions.answer7}">
        	<input type="hidden" name="choicesData" th:value="${questions.choices7}">
        	
        	問題7: <span th:text="${questions.question7}"></span>
        	<div th:each="choice : ${questions.choices7}">
                <span th:classappend="|${choice.equals(questions.answer7) ? 'correct' : ''}${choice.equals(mainForm.answer7) && !choice.equals(questions.answer7) ? 'incorrect' : ''}|"
				th:text="${choice}"></span><br/>
            </div>
            
    	</div>
    	
    	<div th:if="${questions.question8 != null}">
			
			<input type="checkbox" name="questionNumber" value="question8">保存する
        	<input type="hidden" name="questionData" th:value="${questions.question8}">
        	<input type="hidden" name="answerData" th:value="${questions.answer8}">
        	<input type="hidden" name="choicesData" th:value="${questions.choices8}">
        	
        	問題8: <span th:text="${questions.question8}"></span>
        	<div th:each="choice : ${questions.choices8}">
                <span th:classappend="|${choice.equals(questions.answer8) ? 'correct' : ''}${choice.equals(mainForm.answer8) && !choice.equals(questions.answer8) ? 'incorrect' : ''}|"
				th:text="${choice}"></span><br/>
            </div>
            
    	</div>
    	
    	<div th:if="${questions.question9 != null}">
			
			<input type="checkbox" name="questionNumber" value="question9">保存する
        	<input type="hidden" name="questionData" th:value="${questions.question9}">
        	<input type="hidden" name="answerData" th:value="${questions.answer9}">
        	<input type="hidden" name="choicesData" th:value="${questions.choices9}">
        	
        	問題9: <span th:text="${questions.question9}"></span>
        	<div th:each="choice : ${questions.choices9}">
                <span th:classappend="|${choice.equals(questions.answer9) ? 'correct' : ''}${choice.equals(mainForm.answer9) && !choice.equals(questions.answer9) ? 'incorrect' : ''}|"
				th:text="${choice}"></span><br/>
            </div>
            
    	</div>
    	
    	<div th:if="${questions.question10 != null}">
			
			<input type="checkbox" name="questionNumber" value="question10">保存する
        	<input type="hidden" name="questionData" th:value="${questions.question10}">
        	<input type="hidden" name="answerData" th:value="${questions.answer10}">
        	<input type="hidden" name="choicesData" th:value="${questions.choices10}">
        	
        	問題10: <span th:text="${questions.question10}"></span>
        	<div th:each="choice : ${questions.choices10}">
                <span th:classappend="|${choice.equals(questions.answer10) ? 'correct' : ''}${choice.equals(mainForm.answer10) && !choice.equals(questions.answer10) ? 'incorrect' : ''}|"
				th:text="${choice}"></span><br/>
            </div>
    	</div>
    	<div>
			<input type="submit" value="適用する">
		</div>
    </form>
</body>
</html>
