<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign up</title>
	<link rel="stylesheet" href="css/signup.css">
</head>
<body>
	<div class="container">
		<div class="signup-box">
			<h1>アカウントの作成</h1>
			<form th:action="@{/register/create}" th:object="${registerForm}" method="post">
				
				<!-- エラーメッセージの表示 -->
				<div th:if="${emailError}">
					<div class="alert alert-danger">
						<i class="bi bi-exclamation-triangle-fill"></i>
						<span th:text="${emailError}"></span>
					</div>
				</div>
				
				<div class="input-group">
					<input type="text" th:field="*{email}" id="email" required>
					<label for="email">Email</label>
				</div>
				
				<div class="input-group">
					<input type="password" th:field="*{password}" id="password" required>
					<label for="password">Password</label>
					<!-- パスワードのエラーメッセージ -->
					<div th:if="${#fields.hasErrors('password')}" class="alert alert-danger">
						<i class="bi bi-exclamation-triangle-fill"></i>
						<span th:errors="*{password}"></span>
					</div>
				</div>
				<button type="submit">Sign up</button>
			</form>
		</div>
		<p class="other-page">
			すでにアカウントをお持ちですか？
			<a th:href="@{/login}" class="link-color">ログイン</a>
		</p>
	</div>
</body>

</html>
